<div id="main">
    <!--<h1> 대학일기</h1>-->
    <!--<p><시험기간></p>-->
    <img src="/img/main.png" />
    <p><a  class="btn btn-primary btn-lg" href="/home/result">
        Let's do this!
    </a></p>
</div>

