<div>
    <div class="gap"></div>
    <div>
        <h1>시험을 앞두고 있으니,</h1>
        <img id="result_img" src= "<%= @dish_image %>" >
    </div>
    <div class="gap"></div>
    <p id="result_s"><mark id="pen">"<%=@s_dish %>" </mark></p>
    <div class="gap"></div>
    <p>
        <a  class="btn btn-primary btn-lg" href="/">
            Go back
        </a>
        <a  class="btn btn-danger btn-lg" href="javascript:location.reload() ">
            Again
        </a>
    </p>
</div>